*
# Allow R scripts
!*.R

# Allow specific directories

!code/
!code/**
!fig/
!updates/

# Allow README and configuration files
!README.md
!.gitignore


# Ignore temporary files
*.tmp
*.log
*.pdf
*.zip

# Ignore RStudio session files
.Rhistory
.Rproj.user/
